:root {
    --primary: rgb(15, 15, 94);
    --secondary: rgb(65, 65, 167);
    --tertiary: #9d9de6;
    --primary-text: white;
    --secondary-text: rgb(89, 151, 231); 
    --border-radius: .3rem;
  }

.card-header {
    background-color: var(--secondary);
    color: var(--secondary-text);
    text-align: center;
}

.title {
    background-color: var(--primary);
    color: var(--primary-text);
    border-radius: 0.5rem;
    padding: 1rem 1rem;
}

.body-feature {
    background-color: var(--secondary);
}

#weather-summary {
    color: var(--secondary-text);
    padding: 20px 0;
    font-size: medium;
    font-style: italic;
    display: flex;
    gap: 20px;
    
}

#weather-container {
    border-width: medium;
    box-shadow: 5px #9d9de6;
}

.weather-forecast-container {
    
   

}

.card-section {
    border: 10px;
}

.card {
    margin: 20px;
    
}


